<!DOCTYPE html>
<html>
  <head>
    <title>Traylfynderz</title>
    <%= csrf_meta_tags %>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
   integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
   crossorigin=""></script>



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
          <h2>Gettin' Gosh Darned Recreational Out Here</h2>
          <div id="map"></div>

          <script type="text/javascript">
            var mymap = L.map('mapid').setView([51.505, -0.09], 13);

            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZ3JlZ2h1YmR1YiIsImEiOiJjajdmNG4wN20wdG04MnZwamR1OGNibGpqIn0.SSdGtnnI7X5KRzAr7OPAEg', {
              attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
              maxZoom: 18,
              id: 'mapbox.streets',
              accessToken: 'your.mapbox.access.token'
            }).addTo(mymap);

            var marker = L.marker([51.5, -0.09]).addTo(mymap);


          </script>
          <script>
      function initMap() {
        var argonneArea = {lat: 41.7124, lng: -87.9031};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: argonneArea
        });
        var marker = new google.maps.Marker({
          position: argonneArea,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuhsT5Ue9fT3YVqXO-LWyZPFsBg6QCdX8&callback=initMap">
    </script>
    <%= yield %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
